@page
@using SeguimientoAcademico.App.Dominio
@model SeguimientoAcademico.App.Presentacion.Pages.CrearFamiliarDesignadoModel
@{
}


<h1>Crear Familiar Designado</h1>

<form method="post" class="scroll">  
    <div class="form-group">
    <label asp-for="familiarDesignado.Nombre"></label>
    <input asp-for="familiarDesignado.Nombre" class="form-control" required="requiered">
    
    </div>

    <div class="form-group">
    <label asp-for="familiarDesignado.Apellido"></label>
    <input asp-for="familiarDesignado.Apellido" class="form-control" required="requiered">
    </div>

    <div class="form-group">
    <label asp-for="familiarDesignado.Telefono"></label>
    <input asp-for="familiarDesignado.Telefono" class="form-control" required="requiered">
    </div>

    <div class="form-group">
    <label asp-for="familiarDesignado.Genero"></label>
    <select asp-for="familiarDesignado.Genero" asp-items="Html.GetEnumSelectList<Genero>()"class=form-control ></select>
    </div>


     <div class="form-group">
    <label asp-for="familiarDesignado.Parentesco"></label>
    <input asp-for="familiarDesignado.Parentesco" class="form-control" required="requiered">
    </div>

    


    <button type="submit" class="btn btn-primary">Crear</button>
    

</form>