@page
@model SeguimientoAcademico.App.Presentacion.Pages.EliminarFamiliarDesignadoModel
@{
}

<h1>Eliminar</h1>

<form method="post">

    
    <div class="form-group">
    <label asp-for="familiarDesignado.Id"></label>
    <input asp-for="familiarDesignado.Id" class="form-control" readonly>
    </div>

    <div class="form-group">
    <label asp-for="familiarDesignado.Nombre"></label>
    <input asp-for="familiarDesignado.Nombre" class="form-control" readonly>
    </div>

    <div class="form-group">
    <label asp-for="familiarDesignado.Apellido"></label>
    <input asp-for="familiarDesignado.Apellido" class="form-control" readonly>
    </div>

    <div class="form-group">
    <label asp-for="familiarDesignado.Telefono"></label>
    <input asp-for="familiarDesignado.Telefono" class="form-control" readonly>
    </div>

    <div class="form-group">
    <label asp-for="familiarDesignado.Genero"></label>
    <input asp-for="familiarDesignado.Genero" class="form-control" readonly>
    </div>

    <div class="form-group">
    <label asp-for="familiarDesignado.Parentesco"></label>
    <input asp-for="familiarDesignado.Parentesco" class="form-control" readonly>
    </div>

    



    <button type="submit" class="btn btn-primary" >Eliminar</button>
    <button href="/familiarDesignado/IndexfamiliarDesignado" ></button>

    

</form>
