@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head></head>

<body >

    
    <div class="text-center">
        <h1 class="tb"><FONT COLOR="blue">Bienvenido</FONT><br></h1>
    </div>
    
     <section class="contenedor cont-principal">
        <div class="principal">
            <img src="/img/img2.png" alt="" class="imagen-principal">
            <div class="contenedor-textos">
            <p>
                El acceso a la educación es uno de los principales derechos sobre los que se soportan 
                los principios de universalidad y equidad. Sin embargo, en los últimos años la demanda 
                de educación virtual ha ido en aumento y la demanda de se ha hecho aún más visible 
                gracias a la emergencia sanitaria generada por el COVID 19, estos factores, sumados a 
                la falta de recursos de seguimiento de los estudiantes, entre otros; están causando que 
                el sistema educativo y los maestros este continuamente saturados y la apropiación del 
                conocimiento sea mínima y poco medible.
                <br><br>
                Una de las estrategias sugeridas para resolver este problema es el uso de las nuevas 
                tecnologías de la información en la educación virtual para comunicar en tiempo real el 
                avance en las tareas y asignaciones de los maestros hacia los estudiantes, con el fin 
                que desde sus hogares tengan información en tiempo real del cumplimiento y avance en las 
                materias desde sus hogares y así favorecer una mejor estrategia dinámica en el proceso 
                educativo teniendo a la familia más que como responsables como un apoyo y a un equipo 
                de docentes como responsables de la evolución y apropiación del conocimiento de manera virtual.
            </p>
            </div>
        </div>
    </section>


<footer>
        <div class="footer">
            <h4 style="text-align: center;">© 2021 The programmers. Todos los derechos reservados.</h4>
        </div>
    </footer>
    <script>
        var menuBtn = $('.menu-icon'),
            menu = $('.navigation ul')

        menuBtn.click(function(){
            if(menu.hasClass('show'))
            {
                menu.removeClass('show');
            }
            else
            {
                menu.addClass('show');
            }
        })
        var closeBtn = $('.icon-close'),
            close = $('.cookie-container')
            closeBtn.click(function(){
            if(close.hasClass('show'))
            {
                close.removeClass('show');
            }
        })
    </script>

</body>

