@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head></head>

<body style="background-color: aqua;">
    
    <div align="center">
    <img src="https://storage.googleapis.com/site.esss.co/43dced96-2017-03-29-thumb-software-estudantes.jpg"  width="400" height="341" ></img>
    </div>
    <div class="text-center">
        <h1 class="display-4">Bienvenido</h1>
        <h1 class="display-4">Seguimiento Academico</h1>

    
        
    </div>

    
    <div style="background-image: url(https://images.theconversation.com/files/422202/original/file-20210920-22-lrxza9.jpg?ixlib=rb-1.1.0&amp;rect=17%2C163%2C5734%2C2862&amp;q=45&amp;auto=format&amp;w=1356&amp;h=668&amp;fit=crop);">
    </div>


    <div>

        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</body>

