<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Seguimiento Academico</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

  <div class="cookie-container">
            Este sitio web utiliza cookies para poder ofrecerte 
            la mejor experiencia. Consulta nuestra <a href="politica.html">política de 
            privacidad</a> para obtener más información.
    <button class="button"></button>
    <span class="icon-close"></span>
    </div>

    <div class="container logo-container">
        <img src="/img/icono.jpeg" alt="Logo">
        <span class="menu-icon">Ver menú</span>
        <h1>Seguimiento académico virtual</h1>
    </div>


 <div>
        <nav class="navigation">
            <ul>
                <li><a href="/Index">Inicio</a></li>
                <li><a href="/Maestros/IndexMaestros">Docente</a></li>
                <li><a href="/Tutores/IndexTutores">Tutor</a></li>
                <li><a href="/Estudiantes/Index">Estudiante</a></li>
            </ul>
        </nav>
    </div>
<!--
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #e3f2fd;">
            <div class="container-fluid">
                <a class="navbar-brand" href="/Index">
                    Seguimiento Academico
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item active">
                            <a class="nav-link" href="/Estudiantes/Index">ESTUDIANTES<span
                                    class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="/Maestros/IndexMaestros">MAESTRO<span
                                    class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="/Tutores/IndexTutores">TUTOR<span class="sr-only">(current)</span></a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
-->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>
