@page
@model SeguimientoAcademico.App.Presentacion.Pages.ActualizarModel
@{
}

<h1>Modificacion de Estudiantes</h1>

<form>
    <h3>Id</h3>
    <input type="text" id="id">

    <h3>Nombre</h3>
    <input type="text" id="Nombre">

    <h3>Apellido</h3>
    <input type="text" id="Apellido">

    <h3>Telefono</h3>
    <input type="text" id="id">

    <input type="radio" id="femenino" name="fav_language" value="femenino">
    <label for="femenino">femenino</label><br>
    <input type="radio" id="masculino" name="fav_language" value="masculino">
    <label for="css">masculino</label><br>

</form>